CompileFlags:                     # Tweak the parse settings
  Add: [-xc++, -Wall, --std=c++20, -I/Users/lukasmoller/cppless/include]             # treat all files as C++, enable more warnings
  Remove: -W*                     # strip all other warning-related flags