[submodule "llvm-project"]
	path = llvm-project
	url = git@github.com:spcl/cppless-clang.git
[submodule "tools/packagerpy/cross-compile-ldd"]
	path = tools/packagerpy/cross-compile-ldd
	url = git@github.com:spcl/cross-compile-ldd.git
